.main {
  display: flex;
  min-height: 100vh;
  background-color: rgb(226, 223, 223);
}

.containerParede {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}

.cardParedes {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.containerInfor{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem;
  width: 50%;
  background-color: white;
}

.containerInfor h2 {
  text-align: center;
  font-size: 2rem;
  color: #f05a22;
}

.containerDetalhes{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.textoResultado{
  padding-left: 20px;
  gap: 1rem;
  justify-content: center;

}


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.button{
  padding: 1rem 8rem;
  background-color: #f05a22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover{
  background-color: #f05922b2;
  color: white;
}

@media (max-width: 700px) {

  .main{
    flex-direction: column;
  }

  .containerParede{
    padding: 0rem;
    width: 100%;
  }

  .containerParede h1{
    text-align: center;
    margin-top: 2rem;
    padding: 0rem 1rem;
  }

  .containerInfor{
    padding: 0rem;
    width: 100%;
    gap: 1rem;
  }

  .containerInfor h2{
    margin-top: 2rem;
  }
  .cardParedes{
  padding: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  }
  .containerDetalhes{
    padding: 2rem;
    font-size: 1.5rem;
    gap: 2rem;
  }

  .button{
    margin-bottom: 2rem;
  }

}
