.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 1rem;
  background-color: #f05a22;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardContainer h3{
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}

.containerInput{
  display: flex;
  flex-direction: column;
}

.containerInput label{
  font-weight: 600;
}

.containerInput input{
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}



@media (max-width: 700px) {

  .cardContainer {
    display: flex;
    width: 250px;
    height: 300px;
  }


}